
/* -----------Specification------------- */

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Gilroy', Geneva, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 944px;
  width: 100%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.nav__link:hover, .contain__link:hover {
  color: #000;
}
.nav__link:active, .contain__link:active {
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35) inset;
}
.button {
  min-width: 180px;
  height: 42px;
  background-color: #070707;
  color: #fff;
  font-weight: 700;
  padding: 0 30px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: #F6F6F6;
  color: #000;
}
.essence__link:hover {
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35) inset;
}
.sites__link:hover {
  color: #000;
  text-decoration: underline;
}
.offer__svg:hover {
  fill: #828282;
  stroke:rgba(68, 248, 248, 0.397)
}
div, p, form, input, button, a, span {
  box-sizing: border-box;
}
p {
  line-height: 21px;
  margin: 0;
}
input, input:hover, input:focus, input:active, button, button:hover, button:focus, button:active {
  outline: none;
}
button {
  padding: 0;
}
a, a:hover, a:active {
  text-decoration: none;
}
a, button, input {
  transition: all 0.5s ease;
}
ul, li {
  display: block;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 47px;
  line-height: 57px;
}
h2 {
  font-size: 34px;
  line-height: 41px;
  text-align: center;
}
h3 {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}