
/* --------------------------Header------------------------- */

.header {
  padding: 32px 0 104px;
}
.nav {
  position: relative;
  font-weight: bold;
  padding-bottom: 32px;
  margin-bottom: 40px;
}
.nav::after {
  position: absolute;
  content: '';
  display: block;
  background-color: #828282;
  height: 1px;
  width: 100%;
  bottom: 0;
}
.nav__item {
}
.nav__link {
  color: #828282;
}
.contain {
  margin-bottom: 30px;
  align-items: flex-end;
}
.contain__title {
  max-width: 150px;
  width: 100%;
}
.contain__text {
  max-width: 156px;
  width: 100%;
  margin-bottom: 12px;
  margin-left: 271px;
}
.nav__item_lang {
  position: absolute;
  width: 68px;
  transform: rotate(-90deg);
  right: -2.6%;
  top: 276%;
}
.nav__link_russian, .nav__link_english {
  font-size: 16px;
  line-height: 19px;
  color: #828282;
  text-transform: uppercase;
  font-weight: 700;
}
.nav__link_russian {
}
.nav__link_russian::after {
  position: absolute;
  content: '';
  display: block;
  width: 15px;
  background-color: #000;
  height: 2px;
  transform: rotate(90deg);
  top: 50%;
  left: 30%;
}
.nav__link_english {
}
.photo {
  max-width: 943px;
  width: 100%;
  height: 387px;
  background: url(../img/man_looking_up.png) no-repeat center center / contain;
}