/*---------------------- Media Queries-------------- */

/* 992- 1200px */
@media screen and (max-width: 1200px) {
}
/* 768-992px */
@media screen and (max-width: 992px) {
  .container {
    width: 700px;
  }
  .photo {
  }
  .programs__item {
    width: 18%;
  }
  .essence__img {
    width: 100%;
  }
  .contain__text {
    margin-left: 20vw;
  }
}
/* 576-768px */
@media screen and (max-width: 768px) {
  .container {
    width: 520px;
  }
}
/* 374-576px  */
@media screen and (max-width: 576px) {
  .header {
    padding: 68px 0 83px;
  }
  .container {
    width: 84%;
  }
  .menu-burger {
    position: absolute;
    width: 33px;
    height: 19px;
    top: 8%;
    right: 8%;
  }
  .menu-burger span, .menu-burger:after, .menu-burger:before{
    height: 3px;
    width: 100%;
    position: absolute;
    background: #000;
  }
  .menu-burger span{
    top: 8px;
  }
  .menu-burger:after, .menu-burger:before{
    content: '';
  }
  .menu-burger:after{
    bottom: 0;
  }
  .menu-burger:before{
    top: 0;
  }
  .nav {
    display: none;
  }
  .contain {
    display: block;
    margin-bottom: 37px;
  }
  .contain__title {
    margin-bottom: 23px;
  }
  .contain__text {
    margin: 0;
  }
  .photo {
    max-width: 316px;
    width: 100%;
    height: 478px;
    background: url(../img/man_looking_up_full.svg) no-repeat center center / contain;
  }
  .about-me {
    padding: 81px 0 76px;
  }
  .about {
    max-width: 316px;
    width: 100%;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__text {
    white-space: pre-line;
  }
  .about__text br {
    content: "";
  }
  br:after {
    content: "\00a0";
  }
  .skills {
    padding: 83px 0 98px;
  }
  .skills-title {
    margin-bottom: 50px;
  }
  .skills-text {
    margin-bottom: 71px;
  }
  .programs {
    display: block;
  }
  .programs__item {
    width: 100%;
    margin: 0 auto 81px;
  }
  .programs__item:last-child {
    margin: 0 auto;
  }
  .portfolio {
    padding: 81px 0;
  }
  .essence__title {
    margin-bottom: 65px;
  }
  .essence__item {
    max-width: 316px;
    width: 100%;
    margin: 0 auto 78px;
  }
  .essence__item:last-child {
    margin: 0 auto;
  }
  .essence__img {
    margin-bottom: 35px;
  }
  .contacts-full {
    padding: 82px 0 24px;
  }
  .contacts, .offer  {
    max-width: 316px;
    width: 100%;
    margin: 0 auto;
  }
  .contacts__title {
    margin-bottom: 27px;
  }
  .contacts__text {
    margin-bottom: 40px;
  }
  .contacts__message {
    margin-bottom: 48px;
  }
  .footer {
    padding: 24px 0 90px;
  }
  .sites {
    max-width: 315px;
    width: 100%;
  }
  .sites__link, .like-me {
    font-size: 18px;
    line-height: 21px;
  }
}
/* 320-374px  */
@media screen and (max-width: 374px) {
  .photo {
    background: url(../img/man_looking_up_full.svg) no-repeat center center;
  }
  .sites__link, .like-me {
    font-size: 14px;
    line-height: 16px;
  }
  .essence__link {
    font-size: 16px;
  }  
}  